.base, .header, .container-profile, .container-form, .container-barchart, .container-complexChart {
  width: 100%;
  height: 400px;
  background-color: #eaebf0; }

.container {
  width: 100%; }

.header {
  color: #eaebf0;
  font-size: 3.5rem;
  background-image: linear-gradient(#172233, black);
  line-height: 231px;
  text-indent: 40px;
  position: relative;
  transition: 300ms color ease-in-out; }
  .header:hover {
    background: black;
    color: #f78c8c; }

.btn {
  color: #eaebf0;
  background-color: #172233;
  border: 1px solid #eaebf0;
  border-radius: 9%;
  position: absolute;
  left: 40px;
  bottom: 200px;
  height: 25px;
  width: 100px; }
  .btn:hover {
    background-color: #eaebf0;
    color: #172233;
    border: 1px solid #172233; }

.container-profile {
  display: flex;
  justify-content: space-evenly; }

.user-profile {
  width: 250px;
  height: 265px;
  box-shadow: 2px 2px 11px #172233;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  transition: all 300ms ease-out; }
  .user-profile:hover {
    box-shadow: 0 0 2px 2px #172233;
    overflow: hidden;
    transform: scale(1.1); }

.photo {
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 50%; }

.person-0 .photo {
  background: url(../images/0.jpg) center top;
  background-size: 200px; }

.person-1 .photo {
  background: url(../images/1.jpg) center top;
  background-size: 200px; }

.person-2 .photo {
  background: url(../images/2.jpg) center top;
  background-size: 200px; }

.name {
  font-size: 2rem;
  color: #4c0505;
  line-height: 65px; }

.moto {
  font-size: 1rem;
  color: #172233; }

.container-form {
  padding-left: 40px;
  padding-top: 50px;
  box-sizing: border-box; }
  .container-form div {
    font-size: 2rem;
    color: #4c0505; }
  .container-form span {
    font-size: 1rem;
    color: #4c0505; }

form :nth-child(1) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(2) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(3) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(4) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(5) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(6) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(7) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(8) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(9) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(10) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(11) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(12) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(13) {
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  text-indent: 5px; }

form :nth-child(5) {
  height: 100px;
  width: 248px; }

form input[type="radio"] {
  width: 10px;
  height: 10px; }

form input[type="submit"] {
  background: #260303;
  color: #eaebf0;
  text-indent: 0;
  border: 1px solid #172233;
  transition: 300ms color ease-in-out; }
  form input[type="submit"]:hover {
    background: #172233; }

.container-barchart {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .container-barchart p {
    font-size: 2rem;
    text-align: center;
    line-height: 0px;
    color: #172233; }
  .container-barchart span {
    font-size: 1rem;
    color: #172233; }

.blk {
  display: flex;
  width: 100%;
  height: 360px; }

.scale, .year {
  display: flex;
  flex-direction: column-reverse;
  line-height: 23px;
  text-align: center; }

.barchart {
  width: 97%;
  height: 100%;
  background: url(../images/bg.png);
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-left: 15px;
  box-sizing: border-box;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
  .barchart .bars-0 {
    width: 25%;
    height: 100%;
    display: flex; }
    .barchart .bars-0 .bar-red {
      width: 21%;
      height: 21px;
      background: #ff6666;
      margin-left: 2%; }
    .barchart .bars-0 .bar-red:hover {
      background: #ff3333; }
    .barchart .bars-0 .bar-yellow {
      width: 21%;
      height: 129px;
      background: #ffff66;
      margin-left: 2%; }
    .barchart .bars-0 .bar-yellow:hover {
      background: #ffff33; }
    .barchart .bars-0 .bar-green {
      width: 21%;
      height: 184px;
      background: #00e600;
      margin-left: 2%; }
    .barchart .bars-0 .bar-green:hover {
      background: #00b300; }
    .barchart .bars-0 .bar-blue {
      width: 21%;
      height: 141px;
      background: #6666ff;
      margin-left: 2%; }
    .barchart .bars-0 .bar-blue:hover {
      background: #3333ff; }
  .barchart .bars-1 {
    width: 25%;
    height: 100%;
    display: flex; }
    .barchart .bars-1 .bar-red {
      width: 21%;
      height: 221px;
      background: #ff6666;
      margin-left: 2%; }
    .barchart .bars-1 .bar-red:hover {
      background: #ff3333; }
    .barchart .bars-1 .bar-yellow {
      width: 21%;
      height: 161px;
      background: #ffff66;
      margin-left: 2%; }
    .barchart .bars-1 .bar-yellow:hover {
      background: #ffff33; }
    .barchart .bars-1 .bar-green {
      width: 21%;
      height: 205px;
      background: #00e600;
      margin-left: 2%; }
    .barchart .bars-1 .bar-green:hover {
      background: #00b300; }
    .barchart .bars-1 .bar-blue {
      width: 21%;
      height: 98px;
      background: #6666ff;
      margin-left: 2%; }
    .barchart .bars-1 .bar-blue:hover {
      background: #3333ff; }
  .barchart .bars-2 {
    width: 25%;
    height: 100%;
    display: flex; }
    .barchart .bars-2 .bar-red {
      width: 21%;
      height: 19px;
      background: #ff6666;
      margin-left: 2%; }
    .barchart .bars-2 .bar-red:hover {
      background: #ff3333; }
    .barchart .bars-2 .bar-yellow {
      width: 21%;
      height: 91px;
      background: #ffff66;
      margin-left: 2%; }
    .barchart .bars-2 .bar-yellow:hover {
      background: #ffff33; }
    .barchart .bars-2 .bar-green {
      width: 21%;
      height: 12px;
      background: #00e600;
      margin-left: 2%; }
    .barchart .bars-2 .bar-green:hover {
      background: #00b300; }
    .barchart .bars-2 .bar-blue {
      width: 21%;
      height: 240px;
      background: #6666ff;
      margin-left: 2%; }
    .barchart .bars-2 .bar-blue:hover {
      background: #3333ff; }
  .barchart .bars-3 {
    width: 25%;
    height: 100%;
    display: flex; }
    .barchart .bars-3 .bar-red {
      width: 21%;
      height: 248px;
      background: #ff6666;
      margin-left: 2%; }
    .barchart .bars-3 .bar-red:hover {
      background: #ff3333; }
    .barchart .bars-3 .bar-yellow {
      width: 21%;
      height: 145px;
      background: #ffff66;
      margin-left: 2%; }
    .barchart .bars-3 .bar-yellow:hover {
      background: #ffff33; }
    .barchart .bars-3 .bar-green {
      width: 21%;
      height: 196px;
      background: #00e600;
      margin-left: 2%; }
    .barchart .bars-3 .bar-green:hover {
      background: #00b300; }
    .barchart .bars-3 .bar-blue {
      width: 21%;
      height: 36px;
      background: #6666ff;
      margin-left: 2%; }
    .barchart .bars-3 .bar-blue:hover {
      background: #3333ff; }

.container-month {
  width: 76%;
  display: flex;
  justify-content: space-between;
  margin: auto; }

.container-complexChart {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box; }
  .container-complexChart p {
    font-size: 2rem;
    color: #054c4c;
    text-align: center; }

.complexChart {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly; }

.container-chart {
  width: 60%; }

.chart {
  width: 100%;
  height: 100%;
  background: url(../images/bg.png);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box; }
  .chart .charts-0 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column; }
    .chart .charts-0 .bar-red {
      max-width: 111px;
      height: 30px;
      background: rgba(255, 0, 0, 0.8); }
    .chart .charts-0 .bar-red:hover {
      background: rgba(255, 0, 0, 0.65); }
    .chart .charts-0 .bar-yellow {
      max-width: 8px;
      height: 30px;
      background: rgba(255, 128, 0, 0.65); }
    .chart .charts-0 .bar-yellow:hover {
      background: rgba(255, 128, 0, 0.5); }
    .chart .charts-0 .bar-green {
      max-width: 304px;
      height: 30px;
      background: rgba(128, 64, 0, 0.5); }
    .chart .charts-0 .bar-green:hover {
      background: rgba(128, 64, 0, 0.35); }
    .chart .charts-0 .bar-blue {
      max-width: 329px;
      height: 30px;
      background: rgba(128, 0, 128, 0.35); }
    .chart .charts-0 .bar-blue:hover {
      background: rgba(128, 0, 128, 0.2); }
  .chart .charts-1 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column; }
    .chart .charts-1 .bar-red {
      max-width: 623px;
      height: 30px;
      background: rgba(255, 0, 0, 0.8); }
    .chart .charts-1 .bar-red:hover {
      background: rgba(255, 0, 0, 0.65); }
    .chart .charts-1 .bar-yellow {
      max-width: 30px;
      height: 30px;
      background: rgba(255, 128, 0, 0.65); }
    .chart .charts-1 .bar-yellow:hover {
      background: rgba(255, 128, 0, 0.5); }
    .chart .charts-1 .bar-green {
      max-width: 59px;
      height: 30px;
      background: rgba(128, 64, 0, 0.5); }
    .chart .charts-1 .bar-green:hover {
      background: rgba(128, 64, 0, 0.35); }
    .chart .charts-1 .bar-blue {
      max-width: 145px;
      height: 30px;
      background: rgba(128, 0, 128, 0.35); }
    .chart .charts-1 .bar-blue:hover {
      background: rgba(128, 0, 128, 0.2); }
  .chart .charts-2 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column; }
    .chart .charts-2 .bar-red {
      max-width: 663px;
      height: 30px;
      background: rgba(255, 0, 0, 0.8); }
    .chart .charts-2 .bar-red:hover {
      background: rgba(255, 0, 0, 0.65); }
    .chart .charts-2 .bar-yellow {
      max-width: 607px;
      height: 30px;
      background: rgba(255, 128, 0, 0.65); }
    .chart .charts-2 .bar-yellow:hover {
      background: rgba(255, 128, 0, 0.5); }
    .chart .charts-2 .bar-green {
      max-width: 447px;
      height: 30px;
      background: rgba(128, 64, 0, 0.5); }
    .chart .charts-2 .bar-green:hover {
      background: rgba(128, 64, 0, 0.35); }
    .chart .charts-2 .bar-blue {
      max-width: 655px;
      height: 30px;
      background: rgba(128, 0, 128, 0.35); }
    .chart .charts-2 .bar-blue:hover {
      background: rgba(128, 0, 128, 0.2); }
  .chart .charts-3 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column; }
    .chart .charts-3 .bar-red {
      max-width: 710px;
      height: 30px;
      background: rgba(255, 0, 0, 0.8); }
    .chart .charts-3 .bar-red:hover {
      background: rgba(255, 0, 0, 0.65); }
    .chart .charts-3 .bar-yellow {
      max-width: 353px;
      height: 30px;
      background: rgba(255, 128, 0, 0.65); }
    .chart .charts-3 .bar-yellow:hover {
      background: rgba(255, 128, 0, 0.5); }
    .chart .charts-3 .bar-green {
      max-width: 359px;
      height: 30px;
      background: rgba(128, 64, 0, 0.5); }
    .chart .charts-3 .bar-green:hover {
      background: rgba(128, 64, 0, 0.35); }
    .chart .charts-3 .bar-blue {
      max-width: 480px;
      height: 30px;
      background: rgba(128, 0, 128, 0.35); }
    .chart .charts-3 .bar-blue:hover {
      background: rgba(128, 0, 128, 0.2); }

.year {
  line-height: 115px;
  position: absolute;
  left: 23px; }

.points {
  display: flex;
  margin-left: 32px;
  max-width: 785px; }
  .points span {
    width: 100%;
    display: block;
    text-align: center; }

table {
  max-width: 30%;
  height: 100%;
  background: white; }
  table td {
    text-align: center;
    border: 1px solid #eaebf0;
    font-size: 1rem;
    color: #172233; }
  table :first-child {
    text-transform: uppercase;
    color: #f12c2c; }

@media only screen and (max-width: 991px) {
  .year {
    left: 8px; } }

@media only screen and (max-width: 850px) {
  .container-profile {
    height: 900px;
    display: flex;
    flex-direction: column; }
  .user-profile {
    margin: auto; }
  table {
    height: auto; }
    table td {
      font-size: 0.5rem; } }

@media only screen and (max-width: 598px) {
  .header {
    font-size: 2rem; } }

@media only screen and (max-width: 375px) {
  .container-barchart p {
    font-size: 1rem; }
  .points span {
    font-size: 0.5rem; }
  .header {
    font-size: 1rem; } }

@media only screen and (max-width: 375px) {
  .container-complexChart {
    height: 800px; }
  .complexChart {
    flex-direction: column; }
  .container-chart {
    margin: 71px 0 47px 22px;
    min-width: 95%; } }

@media only screen and (max-width: 768px) {
  .container-complexChart {
    height: 800px; }
  .complexChart {
    flex-direction: column; }
  .container-chart {
    margin: 71px 0 47px 22px;
    min-width: 95%; } }
