$baseColor: #172233;
$whiteFont: rgb(234, 235, 240);
$redAccent: rgb(76, 5, 5);

$header: 3.5rem;
$heading: 2rem;
$text: 1rem;

$blck_height: 310px;

.base{
  width: 100%;
  height: $blck_height;
  background-color: $whiteFont;
}
